bin/
obj/
[Bb]uild/
[Ll]og/
artifacts/
out/
publish/

.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.vcxproj.user

*.psess
*.vsp
*.vspx
*.sap
*.iTrace
*.diagsession

TestResult*/
TestResults/
*.trx
*.coverage
*.coveragexml
.coverage
.opencover.xml
coverage/
*.lcov

*.nupkg
*.snupkg
!nuget.config
packages/
**/packages/*
!**/packages/build/
!**/packages/repositories.config


.idea/
*.sln.iml
_ReSharper*/
**/*.DotSettings.user

.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/launch.json
!.vscode/tasks.json

secrets.json
*.local.json
appsettings.Development.json
appsettings.Local.json

publish/
*.appx
*.appxbundle
*.msix
*.msixbundle
*.e2e

dist/
installer/
*.msi
*.cab
*.msm
*.exe

*.log
logs/
*.dmp

*.tmp
*.temp
~$*
*.bak
*.orig

Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store

*.opendb
*.cache
*.pdb


site/
docs/_site/
wwwroot/dist/
wwwroot/build/

tools/**/bin/
tools/**/obj/

*.ahk~

*.dll
!third_party/**/*
!third_party/**/*.dll

*.sln
*.csproj
*.props
*.targets
Directory.Build.props
Directory.Build.targets
global.json
